.portifolio__skills{
    background-color: var(--bg_color_white);
}

.portifolio__skills-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 5%;
    background-color: var(--bg_color_blue);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 10px;
    border-radius: 10px;
}
.portifolio__skills-container h1{
    padding-bottom: 50px;
    font-family: var(--font_family);
    font-size: 2rem;
    color: var(--bg_color_white);
}

.portifolio__skills-container p{
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    font-family: var(--font_family);
}

.portifolio__skills_techs-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    width: 50%;
}

.portifolio__skills_techs-content div{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px){
    .tech-icons{
        width: 60px;
    }
    .portifolio__skills_techs-content{
        width: 100%;
    }
    .portifolio__skills-container{
        max-width: 350px;
        margin: 0 auto;
        padding: 0 5%;
        background-color: var(--bg_color_blue);
    }

    .portifolio__skills-container p{
        font-size: 0.9rem;
        font-weight: normal;
        color: #fff;
        font-family: var(--font_family);
    }
}
@media screen and (max-width: 1050px){
    .portifolio__skills-container{
        max-width: 600px;
        margin: 0 auto;
        padding: 0 5%;
        background-color: var(--bg_color_blue);
    }
}
