.portifolio__projects_project-container{
    width: 400px;
    height: 500px;
    background-color: var(--bg_color_blue);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 15px;
}

.portifolio__projects_project-container.dark-mode{
    background-color: var(--bg_color_dblue);
}

.portifolio__projects-content_project-content h1{
    font-family: var(--font_family);
    color: #fff;
    font-size: 1.5rem;
}

.portifolio__projects-content_project-content p{
    font-family: var(--font_family);
    font-size: 0.9rem;
    color: #fff;
}
 
.portifolio__projects_project-container img{
    width: 100%;
    height: 250px;
}

.portifolio__projects_project-list{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: var(--bg_color_);
}
.portifolio__projects_project-list p{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--bg_color_white);
    color: var(--bg_color_dblue);
    font-size: 0.8rem;
    font-weight: bold;
}

.portifolio__projects-content_project-content_btns{
    display: flex;
    justify-content: space-between;
}

.portifolio__projects-content_project-content_list li{
    background-color: var(--bg_color_white);
    font-family: var(--font_family);
    color: var(--bg_color_dblue);
    border: 1px solid var(--bg_color_dblue);
    width: 100px;
    padding: 5px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
}
.portifolio__projects-content_project-content_list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.portifolio__projects-content_project-content_btns button{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: var(--bg_color_red);
    color: #fff;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.portifolio__projects-content_project-content_btns button.dark-mode{
    background-color: hsl(0, 100%, 40%);
}

.portifolio__projects-content_project-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 10px;
    height: calc(100% - 240px);
}

@media screen and (max-width:900px) {

    .portifolio__projects-content_project-content_btns{
        flex-direction: column;
        align-items: center;
    }
    .portifolio__projects-content_project-content_btns button{
        margin: 10px 0;
        width: 200px;
    }

    .portifolio__projects_project-container{
        width: 300px;
        height: 600px;
        background-color: var(--bg_color_blue);
    }   

    .portifolio__projects_project-buttons{
        padding: 0 10px;
    }
}
