.portifolio__navbar__bg{
    background: hsla(355, 78%, 56%, 1);
    background: linear-gradient(270deg, hsla(355, 78%, 56%, 1) 0%, hsla(105, 55%, 96%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(355, 78%, 56%, 1) 0%, hsla(105, 55%, 96%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(355, 78%, 56%, 1) 0%, hsla(105, 55%, 96%, 1) 100%); 
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E63946", endColorstr="#F1FAEE", GradientType=1 );
}

.portifolio__navbar__bg.dark-mode {
    background: hsla(0, 0%, 10%, 1);
    background: linear-gradient(270deg, hsla(355, 78%, 56%, 1) 0%, hsla(240, 6%, 10%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(355, 78%, 56%, 1) 0%, hsla(240, 6%, 10%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(355, 78%, 56%, 1) 0%, hsla(240, 6%, 10%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1A1A1A", endColorstr="#383838", GradientType=1 );
}

.portifolio__navbar{
    padding: 0 200px;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--bg_color_white);
    font-weight: bold;
    font-family: var(--font_family);
}

.portifolio__navbar img{
    width: 50px;
    height: 50px;
    opacity: 0.8;
}

.portifolio__navbar ul{
    display: flex;
}

.portifolio__navbar ul li{
    list-style: none;
    padding: 0 15px;
}
.portifolio__navbar ul li a{
    text-decoration: none;
    color: #151515; 
    text-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);
}
.portifolio__navbar ul li a.dark-mode{
    text-decoration: none;
    color: var(--bg_color_white); 
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6);
}

.portifolio__navbar-mobile{
    display: none;
    position: relative;
}

.portifolio__navbar_popup-container{
    background-color: var(--bg_color_red);
    position: absolute;
    right: 10px;
    top: 30px;
    padding: 10px;
}

.portifolio__navbar_popup-container .menu{
    display: flex;
    flex-direction: column;
}

.portifolio__navbar .menu-socials{
    display: flex;
    padding: 10px 0;
}
.icons-social:hover{
    scale: 1.2;
    transition: 500ms;
}


@media screen and (max-width: 1050px){
    .portifolio__navbar{
        padding: 0 50px;
    }
    .portifolio__navbar-mobile{
        display: flex;
        justify-content: flex-end;
    }
    .portifolio__navbar ul,
    .portifolio__navbar ul{
        display: none;
    }
} 
