@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Combo&family=Indie+Flower&family=Lobster&family=Open+Sans:wght@300&family=Patrick+Hand&family=Poppins:wght@300&family=Rochester&family=Space+Mono&display=swap');

:root{
  --bg_color_red: #E63946;
  --bg_color_white: #F1FAEE;
  --bg_color_blue: #457B9D;
  --bg_color_dblue: #1D3557;
  --font_family: 'Space Mono', monospace;
  --gradient-text: linear-gradient(89.97deg, #E63946 1.84%, #457B9D 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
}