.portifolio__header-background{
    background-color: var(--bg_color_white);
    transition: all 600ms ease;
}
.portifolio__header-background.dark-mode{
    background-color: var(--bg-dark-mode);
    color: #fff;
    transition: all 600ms ease;
}

.portifolio__header_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    padding: 100px 5%;
    margin: 0 auto;
}

.portifolio__header_section-title{
    font-family: var(--font_family);
    padding-right: 5%;
    position: relative;
}

.portifolio__header_section h1{
    font-weight: bold;
    font-size: 2rem;
    color: var(--gradient-text);
}
.portifolio__header_section p{
    padding-top: 20px;
}

.portifolio__header_section-image{
    position: relative;
}

.portifolio__header_section-image_info2,
.portifolio__header_section-image_info1{
    width: 150px;
    height: 80px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    font-family: var(--font_family);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
    transition: all 600ms ease;
}

.portifolio__header_section-image_info1.dark-mode,
.portifolio__header_section-image_info2.dark-mode{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    color: black;
    transition: all 600ms ease;
}

.portifolio__header_section-image_info1{
    top: -40px;
    right: -40px;
}

.portifolio__header_section-image_info1 p,
.portifolio__header_section-image_info2 p{
    padding-left: 10px;
    font-size: 0.85rem;
    color: #fff;
    font-weight: 200;
}
.portifolio__header_section-image_info1 p.dark-mode,
.portifolio__header_section-image_info2 p.dark-mode{
    color: #000;
    font-weight: bold;
}

.portifolio__header_section-image_info1 span,
.portifolio__header_section-image_info2 span{
    font-style: italic;
    
}

.curriculum-download{
    font-size: 1.5rem;
    font-weight: 100;
    border: none;
    outline: none;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bolder;
}

.curriculum-download_div{
    position: absolute;
    bottom: -200px;
    width: 400px;

}

.portifolio__header_section-image_info2{
    bottom: -40px;
    left: -40px;
}

@media screen and (max-width: 768px) {
    .portifolio__header_section{
        display: flex;
        max-width: 768px;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 30px 5%;
        margin: 0 auto;
    }
    .curriculum-download_div{

        bottom: -500px;

    }
    

    .portifolio__header_section-title{
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 768px) {
    .portifolio__header_section-image_info2{
        bottom: 0;
        left: 8px;
    }
    .portifolio__header_section-image_info1{
        bottom:0;
        right: 8px;
        
    }
}